<!DOCTYPE html>
<html lang="en" ng-app="bonCommande">
<head>
    <meta charset="UTF-8">
    <title>Tableau du bon de commande</title>
    <script src="angular.min.js"></script>
    <script src="../bonCommandejs/initArticle.js"></script>
</head>
<body>
<!-- exercice 1.	Tableau du bon de commande -->
<h4>NG01 : Exercice “Bon de commande”: Tableau du bon de commande </h4>
<div ng-controller = "BonCommandeCtrl as bonComCrtl">
    <table border="1" ng-model="bonCom">
        <tr>
            <td> référence article</td>
            <td> libellé</td>
            <td> prix unitaire HT</td>
            <td> quantité</td>
            <td> montant HT</td>
            <td> montant TTC</td>
        </tr>

        <tr ng-repeat="bonCom in bonComCrtl.bonComs" >
            <td>{{bonCom.reference_article}}</td>
            <td>{{bonCom.libelle}}</td>
            <td>{{bonCom.prix_unitaire_HT}}</td>
            <td><input type="text" placeholder="quantite" size="5" value="{{bonCom.quantite}}"> </td>

        </tr>


    </table>
</div>

</body>
</html>